Application/bin/Debug/net8.0/Application.dll
Application/bin/Debug/net8.0/Application.pdb
Application/bin/Debug/net8.0/Application.dll
Application/bin/Debug/net8.0/Application.pdb
Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
Application/obj/Debug/net8.0/Application.dll
Application/obj/Debug/net8.0/Application.pdb
Application/obj/Debug/net8.0/Application.sourcelink.json
Application/obj/Debug/net8.0/ref/Application.dll
Application/obj/Debug/net8.0/refint/Application.dll
WebAPI/bin/Debug/net8.0/Application.dll
WebAPI/bin/Debug/net8.0/Application.pdb
WebAPI/bin/Debug/net8.0/WebAPI.dll
WebAPI/bin/Debug/net8.0/WebAPI.pdb
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfo.cs
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfoInputs.cache
WebAPI/obj/Debug/net8.0/WebAPI.csproj.AssemblyReference.cache
WebAPI/obj/Debug/net8.0/WebAPI.dll
WebAPI/obj/Debug/net8.0/WebAPI.pdb
WebAPI/obj/Debug/net8.0/WebAPI.sourcelink.json
WebAPI/obj/Debug/net8.0/ref/WebAPI.dll
WebAPI/obj/Debug/net8.0/refint/WebAPI.dll
Application/bin/Debug/net8.0/Application.dll
Application/bin/Debug/net8.0/Application.pdb
Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
Application/obj/Debug/net8.0/Application.dll
Application/obj/Debug/net8.0/Application.pdb
Application/obj/Debug/net8.0/Application.sourcelink.json
Application/obj/Debug/net8.0/ref/Application.dll
Application/obj/Debug/net8.0/refint/Application.dll
WebAPI/bin/Debug/net8.0/Application.dll
WebAPI/bin/Debug/net8.0/Application.pdb
WebAPI/bin/Debug/net8.0/WebAPI.dll
WebAPI/bin/Debug/net8.0/WebAPI.pdb
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfo.cs
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfoInputs.cache
WebAPI/obj/Debug/net8.0/WebAPI.csproj.AssemblyReference.cache
WebAPI/obj/Debug/net8.0/WebAPI.dll
WebAPI/obj/Debug/net8.0/WebAPI.pdb
WebAPI/obj/Debug/net8.0/WebAPI.sourcelink.json
WebAPI/obj/Debug/net8.0/ref/WebAPI.dll
WebAPI/obj/Debug/net8.0/refint/WebAPI.dll
Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Application/obj/Debug/net8.0/Application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/Debug/net8.0/Application.GlobalUsings.g.cs
Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/net8.0/Domain.csproj.AssemblyReference.cache
Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Debug/net8.0/Domain.GlobalUsings.g.cs
Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Debug/net8.0/Infrastructure.GlobalUsings.g.cs
Persistence/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Persistence/obj/Debug/net8.0/Persistence.AssemblyInfo.cs
Persistence/obj/Debug/net8.0/Persistence.AssemblyInfoInputs.cache
Persistence/obj/Debug/net8.0/Persistence.GeneratedMSBuildEditorConfig.editorconfig
Persistence/obj/Debug/net8.0/Persistence.GlobalUsings.g.cs
WebAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
WebAPI/obj/Debug/net8.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
WebAPI/obj/Debug/net8.0/WebAPI.GlobalUsings.g.cs
