Application/bin/Debug/net8.0/Application.dll
Application/bin/Debug/net8.0/Application.pdb
Application/bin/Debug/net8.0/Application.dll
Application/bin/Debug/net8.0/Application.pdb
Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
Application/obj/Debug/net8.0/Application.dll
Application/obj/Debug/net8.0/Application.pdb
Application/obj/Debug/net8.0/Application.sourcelink.json
Application/obj/Debug/net8.0/ref/Application.dll
Application/obj/Debug/net8.0/refint/Application.dll
WebAPI/bin/Debug/net8.0/Application.dll
WebAPI/bin/Debug/net8.0/Application.pdb
WebAPI/bin/Debug/net8.0/WebAPI.dll
WebAPI/bin/Debug/net8.0/WebAPI.pdb
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfo.cs
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfoInputs.cache
WebAPI/obj/Debug/net8.0/WebAPI.csproj.AssemblyReference.cache
WebAPI/obj/Debug/net8.0/WebAPI.dll
WebAPI/obj/Debug/net8.0/WebAPI.pdb
WebAPI/obj/Debug/net8.0/WebAPI.sourcelink.json
WebAPI/obj/Debug/net8.0/ref/WebAPI.dll
WebAPI/obj/Debug/net8.0/refint/WebAPI.dll
Application/bin/Debug/net8.0/Application.dll
Application/bin/Debug/net8.0/Application.pdb
Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
Application/obj/Debug/net8.0/Application.dll
Application/obj/Debug/net8.0/Application.pdb
Application/obj/Debug/net8.0/Application.sourcelink.json
Application/obj/Debug/net8.0/ref/Application.dll
Application/obj/Debug/net8.0/refint/Application.dll
WebAPI/bin/Debug/net8.0/Application.dll
WebAPI/bin/Debug/net8.0/Application.pdb
WebAPI/bin/Debug/net8.0/WebAPI.dll
WebAPI/bin/Debug/net8.0/WebAPI.pdb
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfo.cs
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfoInputs.cache
WebAPI/obj/Debug/net8.0/WebAPI.csproj.AssemblyReference.cache
WebAPI/obj/Debug/net8.0/WebAPI.dll
WebAPI/obj/Debug/net8.0/WebAPI.pdb
WebAPI/obj/Debug/net8.0/WebAPI.sourcelink.json
WebAPI/obj/Debug/net8.0/ref/WebAPI.dll
WebAPI/obj/Debug/net8.0/refint/WebAPI.dll
